<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>通讯录</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link type="text/css" rel="stylesheet" href="/static/css/sm.css">
    <link type="text/css" rel="stylesheet" href="/static/css/sm-extend.css">

</head>
<body>
<div class="page-group">
    <div id="page-contacts-list" class="page">
        <header class="bar bar-nav">
            <a class="button button-link button-nav pull-left back" href="/demos/form">
                <span class="icon icon-left"></span>
                返回
            </a>

            <h1 class="title">通信录详情</h1>
        </header>
        <div class="content">
            <div class="list-block">
                <ul>
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-me"></i></div>
                            <div class="item-inner">
                                <div class="item-title label">姓名</div>
                                <div class="item-input">
                                    <input type="text" value="{{ item.user_name }}" placeholder="请输入姓名">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-phone"></i></div>
                            <div class="item-inner">
                                <div class="item-title label">手机号码</div>
                                <div class="item-input">
                                    <input type="tel" value="{{ item.mobile }}" placeholder="请输入电话号码">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-browser"></i></div>
                            <div class="item-inner">
                                <div class="item-title label">电子邮箱</div>
                                <div class="item-input">
                                    <input type="email" value="{{ item.email }}" placeholder="请输入电子邮箱">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-message"></i></div>
                            <div class="item-inner">
                                <div class="item-title label">微信号</div>
                                <div class="item-input">
                                    <input type="text" value="{{ item.weixin_id }}" placeholder="请输入微信号">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-star"></i></div>
                            <div class="item-inner">
                                <div class="item-title label">性别</div>
                                <div class="item-input">
                                    <select>
                                        {% if item.gender == 1 %}
                                            <option selected="selected">男</option>
                                            <option>女</option>
                                        {% elif item.gender == 2 %}
                                            <option>男</option>
                                            <option selected="selected">女</option>
                                        {% else %}
                                            <option>请输入性别</option>
                                            <option>男</option>
                                            <option>女</option>
                                        {% endif %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </li>
                    {% for extra in attrs %}
                        <li>
                            <div class="item-content">
                                <div class="item-media"><i class="icon icon-card"></i></div>
                                <div class="item-inner">
                                    <div class="item-title label">{{ extra.name }}</div>
                                    <div class="item-input">
                                        <input type="text" value="{{ extra.value }}"/>
                                    </div>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                    <div class="content-block">
                        <div class="col-100"><a href="#" class="button button-big button-fill button-success">确定</a>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</div>
<script type='text/javascript' src='/static/js/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='/static/js/sm.js' charset='utf-8'></script>
<script type='text/javascript' src='/static/js/sm-extend.js' charset='utf-8'></script>

</body>
</html>